script(src='componant/left.js')
script(src='componant/right.js')
script(src='componant/top.js')
script(src='componant/bottom.js')
script(src='componant/c-icon.js')
script(src='componant/switsh_bt.js')
script(src='componant/info_line.js')
script(src='componant/allert_holder.js')
script(src='componant/layers_naving.js')
script(src='componant/pop_up.js')
script(src='componant/waiting_list.js')
script(src='componant/data_taker.js')
script(src='componant/input_line.js')
script(src='componant/select_line.js')
script(src='componant/waiting_cile.js')
script(src='js/manager_main_layout.js')
script(src='componant/reserver_holder.js')
script(src='js/manager_pwa.js')