link(rel="stylesheet", href="styles/waiting_cile.css")
link(rel="stylesheet", href="styles/allert_holder.css")
link(rel="stylesheet", href="styles/reserver_holder.css")
link(rel="stylesheet", href="styles/main_layout.css")
link(rel="stylesheet", href="styles/info_line.css")
link(rel="stylesheet", href="styles/waiting_list.css")
link(rel="stylesheet", href="styles/input_line.css")
link(rel="stylesheet", href="styles/select_line.css")
link(rel="stylesheet", href="styles/data_taker.css")
link(rel="stylesheet", href="styles/globel.css")