doctype
html
    head
        include include\\metas.pug
        include include\\styles.pug
    body
        include parts\\main_layout.pug
        include include\\scripts.pug
        //include include\\bin_scripts.pug